/* Dungeon Labels */
.unknowntext { background-image: url(/images/unknown_text.png) }
.freetext { background-image: url(/images/free_text.png) }
.dekutext { background-image: url(/images/deku_text.png) }
.dctext { background-image: url(/images/dc_text.png) }
.jabutext { background-image: url(/images/jabu_text.png) }
.foresttext { background-image: url(/images/forest_text.png) }
.firetext { background-image: url(/images/fire_text.png) }
.watertext { background-image: url(/images/water_text.png) }
.shadowtext { background-image: url(/images/shadow_text.png) }
.spirittext { background-image: url(/images/spirit_text.png) }

/* Dungeons */
#skyview { background-image: url(/images/dungeon_sv.png) }
#earthtemple { background-image: url(/images/dungeon_et.png) }
#lmf { background-image: url(/images/dungeon_lmf.png) }
#ancientcistern { background-image: url(/images/dungeon_ac.png) }
#sandship { background-image: url(/images/dungeon_ssh.png) }
#firesanctuary { background-image: url(/images/dungeon_fs.png) }

/* Tracker Items */
.mitts0 { background-image: url(/images/mitts_digging.png) }
.mitts1 { background-image: url(/images/mitts_digging.png) }
.mitts2 { background-image: url(/images/mitts_mogma.png) }
#goron_ruby, #goron_ruby_full { background-image: url(/images/goron_ruby.png) }
#zora_sapphire, #zora_sapphire_full { background-image: url(/images/zora_sapphire.png) }
.sword0 { background-image: url(/images/sword_practice.png) }
.sword1 { background-image: url(/images/sword_practice.png) }
.sword2 { background-image: url(/images/sword_goddess.png) }
.sword3 { background-image: url(/images/sword_long.png) }
.sword4 { background-image: url(/images/sword_white.png) }
.sword5 { background-image: url(/images/sword_master.png) }
.sword6 { background-image: url(/images/sword_true.png) }
#crystals { background-image: url(/images/crystal.png) }
#bottles { background-image: url(/images/bottle.png) }
#scale { background-image: url(/images/scale.png) }
#earrings { background-image: url(/images/earrings.png) }
#bugnet { background-image: url(/images/bugnet.png) }
#slingshot { background-image: url(/images/slingshot.png) }
.nobeetle { background-image: url(/images/beetle.png) }
.beetle { background-image: url(/images/beetle.png) }
.hookbeetle { background-image: url(/images/beetle_hook.png) }
#bombs { background-image: url(/images/bombs.png) }
#bellows { background-image: url(/images/bellows.png) }
#whip { background-image: url(/images/whip.png) }
#clawshots { background-image: url(/images/clawshots.png) }
#bow { background-image: url(/images/bow.png) }
#seachart { background-image: url(/images/sea_chart.png) }
#spiralcharge { background-image: url(/images/spiral_charge.png) }
.nomagicarrows { background-image: url(/images/composite_arrows.png) }
.firearrows { background-image: url(/images/fire_arrows.png) }
.lightarrows { background-image: url(/images/light_arrows.png) }
.magicarrows { background-image: url(/images/composite_arrows.png) }
#hammer { background-image: url(/images/hammer.png) }
#pouch { background-image: url(/images/pouch.png) }
#caveskey { background-image: url(/images/cavekey.png) }
#letter { background-image: url(/images/letter.png) }
#rattle { background-image: url(/images/rattle.png) }
#cage { background-image: url(/images/cage.png) }
#sot { background-image: url(/images/stone_of_trials.png) }
.wallet1 { background-image: url(/images/wallet1.png) }
.wallet2 { background-image: url(/images/wallet2.png) }
.wallet3 { background-image: url(/images/wallet3.png) }
.wallet4 { background-image: url(/images/wallet4.png) }
.wallet5 { background-image: url(/images/wallet5.png) }

/* Song Tracking */
#fcsong { background-image: url(/images/harpfc.png) }
#nwsong { background-image: url(/images/harpnw.png) }
#dpsong { background-image: url(/images/harpdp.png) }
.soth0 { background-image: url(/images/harpsoth0.png) }
.soth1 { background-image: url(/images/harpsoth1.png) }
.soth2 { background-image: url(/images/harpsoth2.png) }
.soth3 { background-image: url(/images/harpsoth3.png) }
#botgsong { background-image: url(/images/harpbotg.png) }
#harp { background-image: url(/images/harp.png) }
.minuet { background-image: url(/images/minuet.png) }
.bolero { background-image: url(/images/bolero.png) }
.serenade { background-image: url(/images/serenade.png) }
.nocturne { background-image: url(/images/nocturne.png) }
.requiem { background-image: url(/images/requiem.png) }
.prelude { background-image: url(/images/prelude.png) }

/* Dungeon names for keys */
.dekun { background-image: url(/images/deku_normal.png) }
.dekumq { background-image: url(/images/deku_mq.png) }
.dcn { background-image: url(/images/dc_normal.png) }
.dcmq { background-image: url(/images/dc_mq.png) }
.jabun { background-image: url(/images/jabu_normal.png) }
.jabumq { background-image: url(/images/jabu_mq.png) }
.forestn { background-image: url(/images/forest_normal.png) }
.forestmq { background-image: url(/images/forest_mq.png) }
.firen { background-image: url(/images/fire_normal.png) }
.firemq { background-image: url(/images/fire_mq.png) }
.watern { background-image: url(/images/water_normal.png) }
.watermq { background-image: url(/images/water_mq.png) }
.shadown { background-image: url(/images/shadow_normal.png) }
.shadowmq { background-image: url(/images/shadow_mq.png) }
.spiritn { background-image: url(/images/spirit_normal.png) }
.spiritmq { background-image: url(/images/spirit_mq.png) }
.ganonn { background-image: url(/images/ganon_normal.png) }
.ganonmq { background-image: url(/images/ganon_mq.png) }
.welln { background-image: url(/images/well_normal.png) }
.wellmq { background-image: url(/images/well_mq.png) }
.fort1 { background-image: url(/images/fortress_quick.png) }
.fort4 { background-image: url(/images/fortress_full.png) }
.gtgn { background-image: url(/images/gtg_normal.png) }
.gtgmq { background-image: url(/images/gtg_mq.png) }

.svname { background-image: url(/images/svname.png); }
.etname { background-image: url(/images/etname.png); }
.lmfname { background-image: url(/images/lmfname.png); }
.acname { background-image: url(/images/acname.png); }
.sshname { background-image: url(/images/sshname.png); }
.fsname { background-image: url(/images/fsname.png); }

/* Dungeon Keys */
#svsk { background-image: url(/images/smallkey.png) }
#svbk { background-image: url(/images/sv_bk.png) }
#etsk { background-image: url(/images/et_sk.png) }
#etbk { background-image: url(/images/et_bk.png) }
#lmfsk { background-image: url(/images/smallkey.png) }
#lmfbk { background-image: url(/images/lmf_bk.png) }
#acsk { background-image: url(/images/smallkey.png) }
#acbk { background-image: url(/images/ac_bk.png) }
#sshsk { background-image: url(/images/smallkey.png) }
#sshbk { background-image: url(/images/ssh_bk.png) }
#fssk { background-image: url(/images/smallkey.png) }
#fsbk { background-image: url(/images/fs_bk.png) }
#wellsk { background-image: url(/images/smallkey.png) }
#fortsk { background-image: url(/images/smallkey.png) }
#gtgsk { background-image: url(/images/smallkey.png) }

/* Badges */
.checkmark { background-image: url(/images/check.png) }
.ruto { background-image: url(/images/ruto_letter.png) }
.chubadge { background-image: url(/images/bombchu_badge.png) }

/* Other */
#gomode { background-image: url(/images/go_mode.png) }